
body {
    margin: auto;
    font-family: arial;
    background-color:#1a1c23;
    color:lightgrey;
    width:100%;
    overflow-x:hidden;
}

.title {
  margin-left: 10px;
  font-family:Verdana;
  background-color:#1a1c23;
  color:#d46161

}

.mini-heading{
  margin: 10px 20px 10px 50px;
  font-size:24px;
  font-weight:bold;
  width:50%;
}
