.sub-heading-container {
    margin: 20px 0 0 100px;
    width:100%
    float:left;
}

.sub-heading-container .sub-heading{
  font-size:15px;
  padding-left: 15px;
  font-style: italic;
  color: grey;
}

.input-container{
  width:100%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.input-container .url-input-heading{
  padding-right: 20px;
  font-weight: bold;

}

.url-input-label{
  color:lightgray;
  width:12%;
  float:left;
}

.input-container .url-input-inputs{
  padding: 10px 10px 10px 10px;
  margin-left: 5px;
  background-color:#1a1c23;
  color:grey;
  font-size:18px;
  border:none;
  float:leftW
}

.row-container{
  width:100%;
  padding: 10px 20px 10px 30px;
  border: 1px #3a3d4a none;
  display:table;
}


.box-statistics-container{
  float:left;
  padding: 3px 3px 3px 3px;
  width:40%;
  margin: 10px 20px 10px 20px;
  border-right: 3px grey none;

}

.box-statistics-container .comment-headings{
  color: #d46161;
  font-weight: bold;
}

.box-statistics-container .comment {
  font-style: italic;
  margin-left:10px;
  color:grey;
}

.box-statistics-container .comment2 {
  margin-left:10px;
}

.user-text-input-container{
  float:left;
  width:50%;
  margin: 10px 20px 10px 20px;
  overflow:hidden;
}

.user-text-input-container .input-heading{
  margin-left: 10px;
}

.user-text-input-container .comment-input{
  margin-left: 10px;
  width: 100%;
}

.user-results{
  width:100%;
  padding: 3px 3px 3px 10px;
  overflow:hidden;
}


/*Second Row - word count/word frequency*/

.word-count-graph{
  width:35%;
  margin-left:10px;
  float:left;
}


.word-cloud-container {
  margin-left:10px;
  width:60%;
  float:left;
}

.wordcloud{
  width:100%;
}


/* Third row  - graphs*/
.polarity-histogram{
  width:30%;
  float:left;
}

.bigram-count {
  float:left;
  width:30%;
}

.upvotes-regression-graph{
  width:30%;
  float:left;
}


.radioitem-container{
  text-align: left;
  margin-left: 60px;
}

.datatable {
  width:48%;
  float:left;
  border-left: 2px lightgrey none;
  border-top: 2px lightgrey none;
  border-bottom: 2px lightgrey none;
}

.TextBox {
  width:50%;
  float:left;
  padding-left: 10px;
  border-top: 2px lightgrey none;
  border-right: 2px lightgrey none;
  border-bottom: 2px lightgrey none;
}

.TextBox-heading {
  color:#d46161;
}































/**/
