/*tags and all pages*/

body{
  margin:0;
  padding:0;
  background-color:#1a1a1a !important;
  font-family:'Helvetica' lighter !important;
  width:100%;
}


/*
background-color: #FF5700;*/
.container1{
  float:left;
  width:30%;
}


.title{
  padding: 0;
  margin:0;
  font-weight:normal;
  color:darkgray;
  font-size:30px;
}


.title-span{
  padding: 0;
  margin:0;
  font-weight:normal;
  color:#FF5700;
  font-size:30px;
}

.title-span:hover{
  color:#ff7700;
}

.input-container{
  /*background-color:#333333;*/
  padding: 50px 0 0 50px;
  font-family:'Helvetica';
}

.input-heading{
  font-weight: lighter;
  color:darkgray;
}

.input-url{
  background-color:#212121;
  color:lightgray;
  border-radius: 5px;
  border-color:darkgray;
  border-width:.5px;
  font-style: italic;
  padding:10px;
}

.input-branch{
  background-color:#212121;
  color:lightgray;
  border-radius: 5px;
  border-color:darkgray;
  border-width:.5px;
  font-style: italic;
  padding:10px;
}

/*Post Statistics*/

.post-statistics-container{
  padding: 0 0 0 50px;
}

.post-statistics-heading{
  font-weight: lighter;
  color:darkgray;
  font-family:'Helvetica';
}

.post-statistics-stats {
  color:darkgray;
  font-weight: lighter;
  font-family:'Helvetica';
}



/*Tab Outputs*/
.tab-container{
  float:left;
  padding: 50px 0 15px 15px;
  width:66vw;

}

.main-tab{
  background-color:#212121;
  border:none;
  padding: 0;
  width:100%;
}

.tab-style{
  color:darkgray;
  background-color:#212121 !important;
  font-size:20px;
  font-weight:lighter;
  font-family:'Helvetica';
  border:1px solid lightgray ;

}

.tab-style:hover{
  color:#ffb300;
}

.tab-output{
  width:100%;
}

/*bigram graph*/




/*tab 1*/

.polarity-graph{
  float:left;
  width:50% !important;
}

.polarity-upvotes-graph{
  float:left;
  /*width:48%*/
  width:50% !important;
}

/*tab 2*/

.sunburst-graph{
  float: left;
  width:80%;
}

/*tab 3*/

.word-frequency{
  float:left;
  width:50% !important;
}

.bigram-frequency{
  float:left;
  width:50% !important;
}

/*LSI*/
.LSI-container{
  padding-left:50px;
  width:96%;
  float:left;
}

.LSI-heading{
  font-weight: lighter;
  color:darkgray;
  font-family:'Helvetica';
}

.hover-container{
  width:180px;
  padding-top:5px;
  padding-bottom:5px;
}

.hover-container .LSI-hover{
  visibility:hidden;
  background-color:#212121;
  color:white;
  float:left;
  padding:2px;
  font-family:'Helvetica';
  font-weight:lighter;
  /*position*/
  position: absolute;
  z-index: 1;
  margin-top:-65px;
  margin-left:200px;
}

.hover-container:hover .LSI-heading{
  color:#ff7700;
}

.hover-container:hover .LSI-hover{
  visibility:visible;
}

.LSI-textbox{
  width:30%;
  font-family:'Helvetica';
  font-weight: lighter;
}

.LSI-output-container{
  width:100%;
}

.datatable{
  width:51vw;
  height:40vh;
  float:left;
}


.LSI-bar{
  float:left;
  width:41vw;
  padding-left:15px;
}



















/*'font-family':'Helvetica narrow, sans-serif', 'fontWeight':'lighter',*/




/**/
