.sub-heading-container {
    margin: 20px 0 0 100px;
    width:100%
    float:left;
}

.sub-heading-container .sub-heading{
  font-size:20px;
  padding-left: 15px;
  font-style: italic;
  color: grey;
}

.input-container{
  width:55%;
  padding-left: 20px;
  float:left;
}

.input-container .red-text{
  font-weight: bold;
  font-size: 25px;
  padding-right:10px;
  float: left;
  color:#d46161;
  display:flex;
}

.input-container .url-input-heading{
  font-weight: bold;
  font-size: 25px;
  float: left;
}


.input-container2{
  width:41%;
  padding-left: 20px;
  float:left;
}


.input-container2 .url-input-heading{
  font-weight: bold;
  font-size: 25px;
  float: left;
}


.input-container .url-input-inputs{
  margin-top:15px;
  background-color:#1a1c23;
  color:grey;
  font-size:18px;
  border:none;
  width:70%;
  float:left;
}

.input-container2 .url-input-inputs2{
  padding-left: 15px;
  padding-right: 0;
  background-color:#1a1c23;
  color:grey;
  font-size:20px;
  border:none;
  width:20%;
  float:left;
}


.row-container{
  width:100%;
  padding: 10px 20px 10px 30px;
  border: 1px #3a3d4a none;
  display:table;
  text-align:center;
}

/*first row*/

.box-statistics-container{
  float:left;
  padding: 3px 3px 3px 3px;
  width:40%;
  margin: 10px 20px 10px 20px;
  border-right: 3px grey none;

}

.box-statistics-container .comment-headings{
  color: #d46161;
  font-weight: bold;
}

.box-statistics-container .comment {
  font-style: italic;
  margin-left:10px;
  color:grey;
}

.box-statistics-container .comment2 {
  margin-left:10px;
}

.user-text-input-container{
  float:left;
  width:50%;
  margin: 10px 20px 10px 20px;
  overflow:hidden;
}

.user-text-input-container .input-heading{
  margin-left: 10px;
}

.user-text-input-container .comment-input{
  margin-left: 10px;
  width: 100%;
}

.user-results{
  width:100%;
  padding: 5px 5px 30px 50px;
  overflow:hidden;
}

.user-results .bold{
  text-align:center;
  font-weight: bold;
  float: left;
  white-space: pre-wrap;
}

.user-results .normal-text{
  float:left;
  text-align:center;
  white-space: pre-wrap;
}


/*Second Row - word count/word frequency*/
.word-count-heading{
  margin: 10px 20px 10px 50px;
  font-size:24px;
  font-weight:bold;
  width:50%;
}

.word-count-graph{
  width:35%;
  margin-left:10px;
  float:left;
}


.word-cloud-container {
  margin-left:10%;
  width:50%;
  float:left;
}

.wordcloud{
  width:100%;
}


/* Third row  - graphs*/
.bigram-count {
  float:left;
  width:30%;
}

.polarity-histogram{
  width:30%;
  float:left;
}

.upvotes-regression-graph{
  width:30%;
  float:left;
}


.radioitem-container{
  text-align: left;
  margin-left: 60px;
}

.datatable {
  width:48%;
  float:left;
  border-left: 1px lightgrey solid;
  border-top: 2px lightgrey none;
  border-bottom: 2px lightgrey none;
}

.TextBox {
  width:45%;
  float:left;
  margin-right:30px;
  padding-left: 10px;
  border-top: 2px lightgrey none;
  border-right: 2px lightgrey none;
  border-bottom: 2px lightgrey none;
}

.TextBox-heading {
  color:#d46161;
}































/**/
